<form [formGroup]="form">
  <mat-button-toggle-group
    formControlName="housebutton"
    [(ngModel)]="value"
    value.select="Einfamilienhaus"
  >
    <mat-button-toggle value="Einfamilienhaus"
      >Einfamilienhaus</mat-button-toggle
    >
    <mat-button-toggle value="Mehrfamilienhaus"
      >Mehrfamilienhaus</mat-button-toggle
    >
    <mat-button-toggle value="Wohnung">Wohnung</mat-button-toggle>
  </mat-button-toggle-group>
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="Hausgröße in m²"
        formControlName="hausgroesse"
      />
    </mat-form-field>
  </div>
</form>
